* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;

  background: hsl(217, 54%, 11%);

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;

  background: hsl(216, 50%, 16%);

  border-radius: 16px;

  padding: 24px;
}

.card__images {
  position: relative;

  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;
}

.card__image {
  width: 100%;

  display: block;

  border-radius: 10px;
}

.card__images-layer {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 255, 247, 0.45);

  display: flex;

  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: 0.3s;
}

.card__images:hover .card__images-layer {
  opacity: 1;
}

.card__title h2 {
  color: white;

  margin-top: 22px;

  font-size: 22px;

  cursor: pointer;

  transition: 0.3s;
}

.card__title h2:hover {
  color: hsl(178, 100%, 50%);
}

.card__title p {
  margin-top: 18px;

  color: hsl(215, 51%, 70%);

  line-height: 1.6;

  font-size: 18px;
}

.card__time {
  display: flex;

  justify-content: space-between;

  margin: 25px 0;

  padding-bottom: 25px;

  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card__time-left {
  display: flex;

  align-items: center;

  gap: 8px;

  color: hsl(178, 100%, 50%);

  font-weight: 600;
}

.card__time-right {
  display: flex;

  align-items: center;

  gap: 8px;

  color: hsl(215, 51%, 70%);
}

.card__creator {
  display: flex;

  align-items: center;

  gap: 15px;
}

.card__creator img {
  width: 36px;

  border: 1px solid white;

  border-radius: 50%;
}

.card__creator p {
  color: hsl(215, 51%, 70%);
}

.card__creator strong {
  color: white;

  font-weight: 400;

  cursor: pointer;

  transition: 0.3s;
}

.card__creator strong:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  margin-top: 20px;

  color: white;

  font-size: 14px;
}

.attribution a {
  color: hsl(178, 100%, 50%);

  text-decoration: none;
}
